**/a.out
**/*.o
**/*.so
**/__pycache__
**/.gch
**/.vscode
**/build
**/.venv
**/*.ipynb
**/*.json
/Tex/**/*.aux
/Tex/**/*.fdb_latexmk
/Tex/**/*.fls
/Tex/**/*.bak*
/Tex/**/*.log
/Tex/**/*.gz
/Tex/**/*.toc
