**/a.out
**/__pycache__
**/.gch
**/.vscode
**/build
**/*.csv
**/*.pdf
**/.venv
**/*.ipynb
**/*.txt
**/*.json
**/*.mod
**/*.sum
**/build
/Tex/**/*.aux
/Tex/**/*.fdb_latexmk
/Tex/**/*.fls
/Tex/**/*.bak*
/Tex/**/*.log
/Tex/**/*.gz
/Tex/**/*.toc
